/*----------- FONTS----------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/*----------------- First Banner --------------------*/
.container {
    position: relative;
    width: 100%;

}

.back2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;

}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 0%;
    height: 100%;
    transition: .1s ease-in-out;
}

.container:hover .overlay {
    width: 100%;
}

.banner-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 29%;
    transform: translate(-50%, -50%);
    white-space: nowrap;


}

.banner-text h1 {
    margin: 0px;
    font-weight: 700;
    font-size: 70px;
}

.banner-text p {
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
}

.banner-text a {
    text-decoration: none;
    color: white;
    padding: 16px 25px;
    background-color: #DD0000;
    border-radius: 5px;
}

/*------------------------ Main part -----------------------*/
.blog-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 312px;
    width: 312px;
    grid-gap: 30px;
    padding: 20px;
    border: 2px solid black;
    margin-right: 50px;
    background-color: black;
    border-radius: 11.4423px;

}

.blog-box a {
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
    border-radius: 12.5px;
    padding: 20px 0px;
    font-weight: 600;
    font-size: 20px;
    background-color: white;
    color: black;

}

.main-group-box {
    display: flex;
    justify-content: center;
    margin: 6%;
}

.flag-vs-flag {
    display: flex;
    align-items: center;

}

.flag-vs-flag h3 {
    margin: 0px 20px;
}

.match h2 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;

}

.match p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}

.group-box {
    border: 1px solid #E8E8E8;
    padding: 53px 33px;
    border-radius: 12.5px;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

/* ----------last part -------------------*/
.last-part {
    background-color: black;
}

.goal {
    padding: 80px 0px;
    text-align: center;
    color: white;
    border-bottom: 1px dotted white;
    margin: 0px 200px;
}

.hyperlinks {
    display: flex;
    justify-content: space-between;
    margin: 40px 20%;
    padding-bottom: 100px;
}

.hyperlinks a {
    text-decoration: none;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
}